<mjml lang="pl-PL">
  <mj-head>
    <mj-style>
      .header-card {
      background-color: #F2F8FA !important;
      padding: 48px !important;
      border-radius: 6px !important;
      text-align: center !important;
      position: relative;
      }

      table {
      border-collapse: separate;
      }
      
      img, table {
         line-height: 100%!important;
      }
    </mj-style>
    <mj-font name="Arial" />
    <mj-title>Potwierdzenie zamówienia</mj-title>
  </mj-head>
  <mj-body>
    <!-- Email Header -->
    <mj-section padding-bottom="0" background-color="#ffffff">
      <mj-column>
        <mj-table>
          <tr>
            <td>
              <img src="https://prod-familyoptic-adm.x-one.dev/media/47/7d/00/1646118151/family-optic-logo.png" alt="Family optic" style="vertical-align: middle; max-width: 100%;" />
            </td>
            <td style="text-align:end;">
              <a href="tel:+48713230330" style="text-decoration: none;">
                <img src="https://prod-familyoptic-adm.x-one.dev/media/a9/b1/94/1646118151/phone-icon.png" alt="Phone" style="vertical-align: middle;" />
                <span style="padding-left:6px; font-size: 16px; color: #202020;">+48 71 323 0330</span>
              </a>
            </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    <!-- Header Card -->
    <mj-section padding-bottom="0" background-color="#ffffff">
      <mj-column>
        <mj-text color="#202020">
          <div class="header-card" style="background-color: #F2F8FA;padding: 48px; border-radius: 6px; text-align: center; position: relative;">
              <p style="margin: 0; font-size: 16px; line-height: 153%;">
                <strong>Cześć {{ order.orderCustomer.firstName }},</strong>
                <br>
                Twoje zamówienie o numerze <strong>{{ order.orderNumber }}</strong> zostało anulowane.
                <br><br>
                Dziękujemy za zainteresowanie ofertą naszego sklepu i&nbsp;zapraszamy ponownie.
              </p>
          </div>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- Footer -->
    <mj-section background-color="#ffffff">
      <mj-column>
        <mj-divider border-color="#E9E9E9" border-width="1px" padding-bottom="40px" padding-top="0" />
        <mj-table table-layout="fixed">
          <tr>
            <td style="padding-right: 12px;">
              <h3 style="margin-bottom: 20px; color:#202020; font-weight: bold; font-size: 18px; line-height: 125%;">Kontakt</h3>
            </td>
            <td style="padding-left: 12px;">
              <h3 style="margin-bottom: 20px; color:#202020; font-weight: bold; font-size: 18px; line-height: 125%;">Znajdź nas na</h3>
            </td>
          </tr>
          <tr>
            <td style="padding-right: 12px;">
              <span>W razie jakichkolwiek pytań odnośnie zamówień prosimy o kontakt mailowy lub telefoniczny:<span><br>
                  <a href="mailto:info@familyoptic.pl" style="font-weight: bold; font-size: 17px; line-height: 125%; color: #007798;">info@familyoptic.pl</a><br>
                  <a href="tel:+48713230330" style="color: #202020;">tel: <span style="font-weight: bold; font-size: 17px; line-height: 125%;">+48 71 323 0330</span></a><br>
            </td>
            <td style="padding-left: 12px; vertical-align: top;">
              <a href="https://www.facebook.com/familyopticsalonyoptyczne/"><img src="https://prod-familyoptic-adm.x-one.dev/media/c6/55/01/1646118151/facebook.png" alt="Facebook"></a>
              <a href="https://www.instagram.com/familyoptic.pl/"><img src="https://prod-familyoptic-adm.x-one.dev/media/7b/fd/78/1646140610/instagram.png" alt="Instagram"></a>
            </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="40px" background-color="#ffffff">
      <mj-column>
        <mj-text>
          <p style="margin:0; padding: 24px 32px; border-radius: 6px; background: #F6F6F6; font-weight: normal; font-size: 12px; line-height: 156%; color: #4D4D4D;">
            AVENIR MEDICAL POLAND Sp. z o.o ul. Kościuszki 40, 55-011 Siechnic, NIP PL7010716637, REGON 368306219, KRS 0000695453, Sąd Rejonowy dla Wrocławia-Fabrycznej we Wrocławiu,IX Wydział Gospodarczy KRS Kapitał zakładowy 1.000.000PLN, kapitał wpłacony 1.000.000PLN
            Copyright © 2003 - 2021 Avenir Medical Poland.
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding="0" background-color="#00607A">
      <mj-column>
        <mj-table>
          <tr>
            <td>
              <img src="https://prod-familyoptic-adm.x-one.dev/media/61/8a/2d/1646118151/family-optic-logo-white.png" alt="Family optic" style="vertical-align: middle;" />
            </td>
            <td style="text-align:end;">
              <a href="tel:+48713230330" style="text-decoration: none;">
                <img src="https://prod-familyoptic-adm.x-one.dev/media/31/d9/7c/1646118151/phone-icon-white.png" alt="Phone" style="vertical-align: middle; max-width: 100%;" />
                <span style="padding-left:6px; font-size: 16px; color: #ffffff;">+48 71 323 0330</span>
              </a>
            </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>